// .page,
// .theme-default-content {
//   font-family: 'SourceHanSerifCN', "Noto Serif SC", "宋体", serif;
// }

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

body {
  font-family: 'Noto Serif SC', Georgia, serif !important;
  font-size: 16.5px; /* 默认是 16px，略微加大 */
  font-weight: 400; /* 更粗一点，400是正常，700是加粗 */
  line-height: 1.75; /* 提高可读性 */
  color: #000000; /* 更深一点的灰，提升清晰度 */
}

/* 黑暗模式下字体颜色变浅色（如白色或亮灰） */
[data-theme="dark"] body {
  color: #f5f5f5; /* 或者 white，也可以用 #ddd 更柔和 */
}

/* 粗体字统一设置 */
strong, b {
  font-weight: 800;
}

/* 暗色模式下粗体字颜色 */
[data-theme="dark"] strong,
[data-theme="dark"] b {
  color: #ffffff;
}


/* 容器宽度撑满屏幕或指定宽度 */
.markmap {
  width: 60vw !important;       /* 宽度可调 */
  max-width: 100vw !important;
  height: 80vh !important;      /* 高度可调 */
  margin: 0 auto;
}

/* SVG 撑满容器 */
.markmap > svg {
  width: 200%;
  height: 100%;
}




